<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OfficeUsersSimulation_C.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <OfficeUsersSimulation_C.Properties.Settings>
            <setting name="lastWorkingDir" serializeAs="String">
                <value />
            </setting>
            <setting name="lastSliderValue" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="lastSampleWord" serializeAs="String">
                <value />
            </setting>
            <setting name="lastSampleExcel" serializeAs="String">
                <value />
            </setting>
            <setting name="lastAutoDelete" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="lastVaryFormatting" serializeAs="String">
                <value>False</value>
            </setting>
        </OfficeUsersSimulation_C.Properties.Settings>
    </userSettings>
</configuration>